.gitignore 파일이란 Git 버전 관리에서 제외할 파일 목록을 지정하는 파일 이다.
git으로 프로젝트를 관리할 때, 그 프로젝트 안의 특정파일들은 관리할 필요가 없는 경우가 있다. 예를 들면, 프로젝트 설정파일, 자동으로 생성되는 로그파일(ex.*.log), 빌드할 때 생기는 컴파일된 파일(ex. *.class) 등이 있다. 따라서 이런 관리할 필요가 없는 파일들을 git이 track 하지 않도록 .gitignore을 설정하는 것이다.
https://gmlwjd9405.github.io/2017/10/06/make-gitignore-file.html
